{
  "$schema": "http://json.schemastore.org/babelrc",
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-private-property-in-object",
    "@babel/plugin-syntax-dynamic-import"
  ]
}