/** table *****************************************************************************************/
.table-thead-tr th, .table-thead-tr td {
  font-weight: bold !important;
  text-align: center !important;
  background-color: #006ab3 !important;
  color: #ffffff !important;
  padding: 10px !important;
  border: none !important;
}
.table-tbody-tr th, .table-tbody-tr td {
  font-weight: normal !important;
  text-align: center !important;
  padding: 10px !important;
  border: none !important;
}
.table-tfoot-tr th, .table-tfoot-tr td {
  font-weight: bold !important;
  text-align: center !important;
  padding: 10px !important;
  border: none !important;
}

/** loader ****************************************************************************************/
.loader-wrapper {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.loader {
  border-top: 3px solid #1976D2 !important;
}