@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: Pretendard, 'Noto Sans KR', sans-serif !important;
  background-color: #e8e8e8 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
}

/** 1. Small (0 - 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {
  html, body {
    font-size: 16.0px;
  }
}

/** 2. Mobile (480px - 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  html, body {
    font-size: 16.5px;
  }
}

/** 3. Pablet (768px - 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html, body {
    font-size: 17.0px;
  }
}

/** 4. Tablet (992px - 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html, body {
    font-size: 17.5px;
  }
}

/** 5. Desktop (1200px - 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {
  html, body {
    font-size: 18.0px;
  }
}