/** del **/
.del-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  font-size: 0.800rem !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #dc3545 !important;
  background-color: #f8d7da !important;
  border: 1px solid #f8d7da !important;
}
.del-btn:hover, .del-btn:active, .del-btn:disabled {
  color: #f8d7da !important;
  background-color:#8b202b !important;
  border: 1px solid #8b202b !important;
}

/** dark **/
.dark-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  font-size: 0.800rem !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #0b2730 !important;
  border: 1px solid #0b2730 !important;
}
.dark-btn:hover, .dark-btn:active, .dark-btn:disabled {
  color: #ffffff !important;
  background-color: #000b15 !important;
  border: 1px solid #000b15 !important;
}

/** primary **/
.primary-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  font-size: 0.800rem !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #006ab3 !important;
  border: 1px solid #006ab3 !important;
}
.primary-btn:hover, .primary-btn:active, .primary-btn:disabled {
  color: #ffffff !important;
  background-color: #23486f !important;
  border: 1px solid #23486f !important;
}

/** success **/
.success-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  font-size: 0.800rem !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff;
  background-color: #3fc820;
  border: 1px solid #3fc820;
}
.success-btn:hover, .success-btn:active, .success-btn:disabled {
  color: #ffffff !important;
  background-color: #2e7b18 !important;
  border: 1px solid #2e7b18 !important;
}

/** warning **/
.warning-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  font-size: 0.800rem !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #ffc107 !important;
  border: 1px solid #ffc107 !important;
}
.warning-btn:hover, .warning-btn:active, .warning-btn:disabled {
  color: #ffffff !important;
  background-color: #d39e00 !important;
  border: 1px solid #d39e00 !important;
}

/** danger **/
.danger-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}
.danger-btn:hover, .danger-btn:active, .danger-btn:disabled {
  color: #ffffff !important;
  background-color: #bd2130 !important;
  border: 1px solid #bd2130 !important;
}

/** secondary **/
.secondary-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  font-size: 0.800rem !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
}
.secondary-btn:hover, .secondary-btn:active, .secondary-btn:disabled {
  color: #ffffff !important;
  background-color: #4b5156 !important;
  border: 1px solid #4b5156 !important;
}