/** 0. Non Media **********************************************************************************/
svg.recharts-surface {
  width: 10px;
  height: 10px;
}

/** 0. Media **************************************************************************************/
.recharts-cartesian-axis-tick-value {
  font-weight: 500 !important;
  padding: 0px 0px 0px 0px !important;
}
.recharts-tooltip-label {
  font-weight: 500 !important;
  padding: 0px 0px 0px 0px !important;
}
.recharts-tooltip-item-list {
  font-weight: 500 !important;
  padding: 0px 0px 0px 0px !important;
}
.dash-title {
  text-align: start !important;
  font-weight: 600 !important;
  padding: 0px 5px 0px 5px !important;
  margin: 0px 0px 0px 5px !important;
}
.dash-title-sub {
  text-align: center !important;
  font-weight: 600 !important;
  padding: 0px 5px 0px 5px !important;
  margin: 0px 0px 0px 5px !important;
  cursor: pointer !important;
}
.dash-checkbox {
  font-weight: 500 !important;
  padding: 0px 0px 0px 0px !important;
}
.dash-pie-text {
  font-weight: 500 !important;
  padding: 0px 0px 0px 0px !important;
}

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .recharts-cartesian-axis-tick-value {
    font-size: 0.600rem !important;
  }
  .recharts-tooltip-label {
    font-size: 0.900rem !important;
  }
  .recharts-tooltip-item-list {
    font-size: 0.600rem !important;
  }
  .dash-title {
    font-size: 0.8rem !important;
  }
  .dash-title-sub {
    font-size: 0.7rem !important;
  }
  .dash-checkbox {
    font-size: 0.600rem !important;
  }
  .dash-pie-text {
    font-size: 0.600rem !important;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .recharts-cartesian-axis-tick-value {
    font-size: 0.700rem !important;
  }
  .recharts-tooltip-label {
    font-size: 1.000rem !important;
  }
  .recharts-tooltip-item-list {
    font-size: 0.700rem !important;
  }
  .dash-title {
    font-size: 0.9rem !important;
  }
  .dash-title-sub {
    font-size: 0.8rem !important;
  }
  .dash-checkbox {
    font-size: 0.700rem !important;
  }
  .dash-pie-text {
    font-size: 0.700rem !important;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .recharts-cartesian-axis-tick-value {
    font-size: 0.800rem !important;
  }
  .recharts-tooltip-label {
    font-size: 1.100rem !important;
  }
  .recharts-tooltip-item-list {
    font-size: 0.800rem !important;
  }
  .dash-title {
    font-size: 1.0rem !important;
  }
  .dash-title-sub {
    font-size: 0.9rem !important;
  }
  .dash-checkbox {
    font-size: 0.800rem !important;
  }
  .dash-pie-text {
    font-size: 0.800rem !important;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .recharts-cartesian-axis-tick-value {
    font-size: 0.900rem !important;
  }
  .recharts-tooltip-label {
    font-size: 1.200rem !important;
  }
  .recharts-tooltip-item-list {
    font-size: 0.900rem !important;
  }
  .dash-title {
    font-size: 1.1rem !important;
  }
  .dash-title-sub {
    font-size: 1.0rem !important;
  }
  .dash-checkbox {
    font-size: 0.900rem !important;
  }
  .dash-pie-text {
    font-size: 0.900rem !important;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .recharts-cartesian-axis-tick-value {
    font-size: 1.000rem !important;
  }
  .recharts-tooltip-label {
    font-size: 1.300rem !important;
  }
  .recharts-tooltip-item-list {
    font-size: 1.000rem !important;
  }
  .dash-title {
    font-size: 1.2rem !important;
  }
  .dash-title-sub {
    font-size: 1.0rem !important;
  }
  .dash-checkbox {
    font-size: 1.000rem !important;
  }
  .dash-pie-text {
    font-size: 1.000rem !important;
  }
}