/** 0. Non Media **********************************************************************************/
.App {
  width: 100%;
  height: 100%;
  margin: 1vh 0vw 1vh 0vw;
  padding: 0px 0px 0px 0px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-wrapper {
  width: 100%;
  max-width: 95vw;
  height: auto;
  max-height: 100%;
  margin: 0.1vh 0vw 0.1vh 0vw;
  padding: 0vh 0vw 0vh 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: fadeIn 1.0s !important;
  z-index: 1000;
}
.content-wrapper {
  width: 100%;
  max-width: 95vw;
  height: auto;
  max-height: 150vh;
  margin: 0.1vh 0vw 0.1vh 0vw;
  padding: 1vh 2vw 1vh 2vw;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  animation: fadeIn 1.0s !important;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 999;
}
.block-wrapper {
  width: 100%;
  max-width: 95vw;
  height: auto;
  max-height: 100%;
  margin: 0.1vh 0vw 0.1vh 0vw;
  padding: 0vh 0vw 0vh 0vw;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: fadeIn 1.0s !important;
  z-index: 999;
}

/** 7. keyframes **/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}