/** 0. Non Media **********************************************************************************/
textarea {
  resize: none;
}
textarea.form-control {
  resize: none;
  height: 100px;
}
.form-control[readonly] {
  background-color: #ffffff;
}
.input-group {
  margin: 1vh 1vw 1vh 1vw;
  position: relative;
  flex-wrap: nowrap !important;
  align-items: stretch;
  width: auto;
  display: flex;
}
thead {
  border: 1px solid #dee2e6 !important;
}
.table-thead {
  background-color: #164a60 !important;
  color: #ffffff !important;
}
.table-light {
  --bs-table-color: #000000;
  --bs-table-bg: #fefefe;
  --bs-table-border-color: #ececec;
  --bs-table-striped-bg: #ececec;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: #000000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}
p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.br {
  height: 1px;
}

/** 0. Media **************************************************************************************/
.form-control {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #0b2730;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  max-height: 40px !important;
}
.form-select {
  font-weight: 400;
  max-height: 40px !important;
  color: #0b2730;
}
.input-group-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: #0b2730;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
table tbody tr td {
  color: #0b2730 !important;
}
.btn-group-sm>.btn, .btn-sm {
  --bs-btn-border-radius: var(--bs-border-radius-sm) !important;
}
.page-btn {
  cursor: pointer;
  font-weight: 600;
  margin: 0rem 0.15rem 0rem 0.15rem;
  color: #ffffff !important;
  background-color: #164a60 !important;
  border: 1px solid #164a60 !important;
}
.page-btn:hover, .page-btn:active, .page-btn:disabled {
  color: #ffffff !important;
  background-color: #0b2730 !important;
  border: 1px solid #0b2730 !important;
}
.del-btn {
  cursor: pointer;
  font-weight: 600;
  color: #dc3545 !important;
}
.del-btn:hover, .del-btn:active, .del-btn:disabled {
  color: #8b202b !important;
  border: 1px solid #8b202b !important;
}
.dark-btn {
  cursor: pointer;
  font-weight: 600;
  margin: 0rem 0.15rem 0rem 0.15rem;
  color: #ffffff !important;
  background-color: #0b2730 !important;
  border: 1px solid #0b2730 !important;
}
.dark-btn:hover, .dark-btn:active, .dark-btn:disabled {
  color: #ffffff !important;
  background-color: #000b15 !important;
  border: 1px solid #000b15 !important;
}
.primary-btn {
  cursor: pointer;
  font-weight: 500;
  margin: 0rem 0.15rem 0rem 0.15rem;
  color: #ffffff !important;
  background-color: #164a60 !important;
  border: 1px solid #164a60 !important;
}
.primary-btn:hover, .primary-btn:active, .primary-btn:disabled {
  color: #ffffff !important;
  background-color: #23486f !important;
  border: 1px solid #23486f !important;
}
.success-btn {
  cursor: pointer;
  font-weight: 500;
  margin: 0rem 0.15rem 0rem 0.15rem;
  color: #ffffff;
  background-color: #3fc820;
  border: 1px solid #3fc820;
}
.success-btn:hover, .success-btn:active, .success-btn:disabled {
  color: #ffffff !important;
  background-color: #2e7b18 !important;
  border: 1px solid #2e7b18 !important;
}
.warning-btn {
  cursor: pointer;
  font-weight: 500;
  margin: 0rem 0.15rem 0rem 0.15rem;
  color: #ffffff !important;
  background-color: #ffc107 !important;
  border: 1px solid #ffc107 !important;
}
.warning-btn:hover, .warning-btn:active, .warning-btn:disabled {
  color: #ffffff !important;
  background-color: #d39e00 !important;
  border: 1px solid #d39e00 !important;
}
.danger-btn {
  cursor: pointer;
  font-weight: 500;
  margin: 0rem 0.15rem 0rem 0.15rem;
  color: #ffffff !important;
  background-color: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}
.danger-btn:hover, .danger-btn:active, .danger-btn:disabled {
  color: #ffffff !important;
  background-color: #bd2130 !important;
  border: 1px solid #bd2130 !important;
}
.secondary-btn {
  cursor: pointer;
  font-weight: 500;
  margin: 0rem 0.15rem 0rem 0.15rem;
  color: #ffffff !important;
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
}
.secondary-btn:hover, .secondary-btn:active, .secondary-btn:disabled {
  color: #ffffff !important;
  background-color: #4b5156 !important;
  border: 1px solid #4b5156 !important;
}

.dataset-add {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 0.800rem;
};
.dataset-add:hover {
  color: #ffffff !important;
}
.dataset-title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0b2730 !important;
  font-weight: 500;
  font-size: 0.600rem;
};
.dataset-title:hover {
  color: #164a60 !important;
}
.dataset-rename {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #164a60 !important;
  font-weight: 500;
  font-size: 0.400rem;
};
.dataset-rename:hover {
  color: #23486f !important;
}
.dataset-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #dc3545 !important;
  font-weight: 600;
  font-size: 0.500rem;
};
.dataset-delete:hover {
  color: #bd2130 !important;
}

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .275rem .5rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
  .form-select {
    font-size: 0.75rem;
    line-height: 0.75rem;
    background-size: 12px 8px;
    padding: 0.275rem 1.250rem 0.275rem 0.250rem;
    background-position: right 0.300rem center;
  }
  .input-group-text {
    padding: .275rem .5rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
  thead {
    font-size: 0.650rem;
  }
  tbody {
    font-size: 0.600rem;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.21rem !important;
    --bs-btn-padding-x: 0.2rem !important;
    --bs-btn-font-size: 0.7rem !important;
  }
  .page-btn {
    font-size: 0.500rem;
    line-height: 0.500rem;
    width: 1.200rem;
    height: 1.200rem;
  }
  .del-btn {
    font-size: 0.700rem;
  }
  .dark-btn {
    font-size: 0.700rem;
    line-height: 0.700rem;
  }
  .primary-btn {
    font-size: 0.700rem;
    line-height: 0.700rem;
  }
  .success-btn {
    font-size: 0.700rem;
    line-height: 0.700rem;
  }
  .warning-btn {
    font-size: 0.700rem;
    line-height: 0.700rem;
  }
  .danger-btn {
    font-size: 0.700rem;
    line-height: 0.700rem;
  }
  .secondary-btn {
    font-size: 0.700rem;
    line-height: 0.700rem;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .3rem .5rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .form-select {
    font-size: 0.8rem;
    line-height: 0.8rem;
    background-size: 13px 9px;
    padding: 0.300rem 1.500rem 0.300rem 0.225rem;
    background-position: right 0.400rem center;
  }
  .input-group-text {
    padding: .3rem .5rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  thead {
    font-size: 0.750rem;
  }
  tbody {
    font-size: 0.700rem;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.22rem !important;
    --bs-btn-padding-x: 0.3rem !important;
    --bs-btn-font-size: 0.8rem !important;
  }
  .page-btn {
    font-size: 0.550rem;
    line-height: 0.550rem;
    width: 1.3rem;
    height: 1.3rem;
  }
  .del-btn {
    font-size: 0.900rem;
  }
  .dark-btn {
    font-size: 0.775rem;
    line-height: 0.775rem;
  }
  .primary-btn {
    font-size: 0.775rem;
    line-height: 0.775rem;
  }
  .success-btn {
    font-size: 0.775rem;
    line-height: 0.775rem;
  }
  .warning-btn {
    font-size: 0.775rem;
    line-height: 0.775rem;
  }
  .danger-btn {
    font-size: 0.775rem;
    line-height: 0.775rem;
  }
  .secondary-btn {
    font-size: 0.775rem;
    line-height: 0.775rem;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .325rem .5rem;
    font-size: 0.85rem;
    line-height: 0.85rem;
  }
  .form-select {
    font-size: 0.85rem;
    line-height: 0.85rem;
    background-size: 14px 10px;
    padding: 0.325rem 1.750rem 0.325rem 0.250rem;
    background-position: right 0.500rem center;
  }
  .input-group-text {
    padding: .325rem .5rem;
    font-size: 0.85rem;
    line-height: 0.85rem;
  }
  thead {
    font-size: 0.850rem;
  }
  tbody {
    font-size: 0.800rem;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.23rem !important;
    --bs-btn-padding-x: 0.3rem !important;
    --bs-btn-font-size: 0.8rem !important;
  }
  .page-btn {
    font-size: 0.600rem;
    line-height: 0.600rem;
    width: 1.400rem;
    height: 1.400rem;
  }
  .del-btn {
    font-size: 1.000rem;
  }
  .dark-btn {
    font-size: 0.850rem;
    line-height: 0.850rem;
  }
  .primary-btn {
    font-size: 0.850rem;
    line-height: 0.850rem;
  }
  .success-btn {
    font-size: 0.850rem;
    line-height: 0.850rem;
  }
  .warning-btn {
    font-size: 0.850rem;
    line-height: 0.850rem;
  }
  .danger-btn {
    font-size: 0.850rem;
    line-height: 0.850rem;
  }
  .secondary-btn {
    font-size: 0.850rem;
    line-height: 0.850rem;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .350rem .5rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
  .form-select {
    font-size: 0.875rem;
    line-height: 0.875rem;
    background-size: 15px 11px;
    padding: 0.350rem 2.000rem 0.350rem 0.500rem;
    background-position: right 0.600rem center;
  }
  .input-group-text {
    padding: .350rem .500rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
  thead {
    font-size: 0.950rem;
  }
  tbody {
    font-size: 0.900rem;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.24rem !important;
    --bs-btn-padding-x: 0.4rem !important;
    --bs-btn-font-size: 0.85rem !important;
  }
  .page-btn {
    font-size: 0.650rem;
    line-height: 0.650rem;
    width: 1.500rem;
    height: 1.500rem;
  }
  .del-btn {
    font-size: 1.100rem;
  }
  .dark-btn {
    font-size: 0.925rem;
    line-height: 0.925rem;
  }
  .primary-btn {
    font-size: 0.925rem;
    line-height: 0.925rem;
  }
  .success-btn {
    font-size: 0.925rem;
    line-height: 0.925rem;
  }
  .warning-btn {
    font-size: 0.925rem;
    line-height: 0.925rem;
  }
  .danger-btn {
    font-size: 0.925rem;
    line-height: 0.925rem;
  }
  .secondary-btn {
    font-size: 0.925rem;
    line-height: 0.925rem;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .form-select {
    font-size: 1rem;
    line-height: 1rem;
    background-size: 16px 12px;
    padding: 0.375rem 2.250rem 0.375rem 0.750rem;
    background-position: right 0.700rem center;
  }
  .input-group-text {
    padding: .375rem 0.750rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  thead {
    font-size: 1.500rem;
  }
  tbody {
    font-size: 1.000rem;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.25rem !important;
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-font-size: 0.875rem !important;
  }
  .page-btn {
    font-size: 0.700rem;
    line-height: 0.700rem;
    width: 1.600rem;
    height: 1.600rem;
  }
  .del-btn {
    font-size: 1.200rem;
  }
  .dark-btn {
    font-size: 1.000rem;
    line-height: 1.000rem;
  }
  .primary-btn {
    font-size: 1.000rem;
    line-height: 1.000rem;
  }
  .success-btn {
    font-size: 1.000rem;
    line-height: 1.000rem;
  }
  .warning-btn {
    font-size: 1.000rem;
    line-height: 1.000rem;
  }
  .danger-btn {
    font-size: 1.000rem;
    line-height: 1.000rem;
  }
  .secondary-btn {
    font-size: 1.000rem;
    line-height: 1.000rem;
  }
}