/** 0. Non Media **********************************************************************************/
textarea {
  resize: none;
}
textarea.form-control {
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 100px;
  resize: none;
}
.form-control[readonly] {
  background-color: #ffffff;
}
.input-group {
  margin: 1vh 1vw 1vh 1vw;
  position: relative;
  flex-wrap: nowrap !important;
  align-items: stretch;
  width: auto;
  display: flex;
}

/** 0. Media **************************************************************************************/
.form-control {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 40px;
  display: block;
  font-weight: 400;
  color: #0b2730;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-select {
  width: 100%;
  max-width: 70px;
  min-height: 20px;
  height: 100%;
  max-height: 30px;
  font-weight: 400;
  color: #0b2730;
}
.input-group-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: #0b2730;
}
.page-btn {
  cursor: pointer!important;
  font-weight: 600 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  color: #ffffff !important;
  background-color: #164a60 !important;
  border: 1px solid #164a60 !important;
}
.page-btn:hover, .page-btn:active, .page-btn:disabled {
  color: #ffffff !important;
  background-color: #0b2730 !important;
  border: 1px solid #0b2730 !important;
}
.del-btn {
  cursor: pointer !important;
  font-weight: 600 !important;
  color: #dc3545 !important;
}
.del-btn:hover, .del-btn:active, .del-btn:disabled {
  color: #8b202b !important;
  border: 1px solid #8b202b !important;
}
.dark-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #0b2730 !important;
  border: 1px solid #0b2730 !important;
}
.dark-btn:hover, .dark-btn:active, .dark-btn:disabled {
  color: #ffffff !important;
  background-color: #000b15 !important;
  border: 1px solid #000b15 !important;
}
.primary-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #164a60 !important;
  border: 1px solid #164a60 !important;
}
.primary-btn:hover, .primary-btn:active, .primary-btn:disabled {
  color: #ffffff !important;
  background-color: #23486f !important;
  border: 1px solid #23486f !important;
}
.success-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff;
  background-color: #3fc820;
  border: 1px solid #3fc820;
}
.success-btn:hover, .success-btn:active, .success-btn:disabled {
  color: #ffffff !important;
  background-color: #2e7b18 !important;
  border: 1px solid #2e7b18 !important;
}
.warning-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #ffc107 !important;
  border: 1px solid #ffc107 !important;
}
.warning-btn:hover, .warning-btn:active, .warning-btn:disabled {
  color: #ffffff !important;
  background-color: #d39e00 !important;
  border: 1px solid #d39e00 !important;
}
.danger-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}
.danger-btn:hover, .danger-btn:active, .danger-btn:disabled {
  color: #ffffff !important;
  background-color: #bd2130 !important;
  border: 1px solid #bd2130 !important;
}
.secondary-btn {
  min-width: min-content !important;
  width: auto;
  max-width: 100%;
  min-height: min-content !important;
  height: 100%;
  max-height: 25px;
  cursor: pointer!important;
  font-weight: 500 !important;
  margin: 0rem 0.15rem 0rem 0.15rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  color: #ffffff !important;
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
}
.secondary-btn:hover, .secondary-btn:active, .secondary-btn:disabled {
  color: #ffffff !important;
  background-color: #4b5156 !important;
  border: 1px solid #4b5156 !important;
}
.dataset-add {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer!important;
  color: #ffffff !important;
  font-weight: 600 !important;
  font-size: 0.800rem !important;
};
.dataset-add:hover {
  color: #ffffff !important;
}
.dataset-title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer!important;
  color: #0b2730 !important;
  font-weight: 500 !important;
  font-size: 0.600rem !important;
};
.dataset-title:hover {
  color: #164a60 !important;
}
.dataset-rename {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer!important;
  color: #164a60 !important;
  font-weight: 500 !important;
  font-size: 0.400rem !important;
};
.dataset-rename:hover {
  color: #23486f !important;
}
.dataset-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer!important;
  color: #dc3545 !important;
  font-weight: 600 !important;
  font-size: 0.500rem !important;
};
.dataset-delete:hover {
  color: #bd2130 !important;
}

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .275rem .5rem !important;
    font-size: 0.75rem !important;
    line-height: 0.75rem !important;
  }
  .form-select {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    background-size: 12px 8px !important;
    padding: 0.275rem 1.250rem 0.275rem 0.250rem !important;
    background-position: right 0.300rem center;
  }
  .input-group-text {
    padding: .275rem .5rem !important;
    font-size: 0.75rem !important;
    line-height: 0.75rem !important;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.21rem !important;
    --bs-btn-padding-x: 0.2rem !important;
    --bs-btn-font-size: 0.7rem !important;
  }
  .page-btn {
    font-size: 0.500rem !important;
    line-height: 0.500rem !important;
    width: 1.200rem !important;
    height: 1.200rem !important;
  }
  .del-btn {
    font-size: 0.700rem !important;
  }
  .dark-btn {
    font-size: 0.700rem !important;
    line-height: 0.700rem !important;
  }
  .primary-btn {
    font-size: 0.700rem !important;
    line-height: 0.700rem !important;
  }
  .success-btn {
    font-size: 0.700rem !important;
    line-height: 0.700rem !important;
  }
  .warning-btn {
    font-size: 0.700rem !important;
    line-height: 0.700rem !important;
  }
  .danger-btn {
    font-size: 0.700rem !important;
    line-height: 0.700rem !important;
  }
  .secondary-btn {
    font-size: 0.700rem !important;
    line-height: 0.700rem !important;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .3rem .5rem !important;
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
  }
  .form-select {
    font-size: 0.8rem !important;
    line-height: 1rem !important;
    background-size: 13px 9px;
    padding: 0.300rem 1.500rem 0.300rem 0.225rem !important;
    background-position: right 0.400rem center;
  }
  .input-group-text {
    padding: .3rem .5rem !important;
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.22rem !important;
    --bs-btn-padding-x: 0.3rem !important;
    --bs-btn-font-size: 0.8rem !important;
  }
  .page-btn {
    font-size: 0.550rem !important;
    line-height: 0.550rem !important;
    width: 1.3rem !important;
    height: 1.3rem !important;
  }
  .del-btn {
    font-size: 0.900rem !important;
  }
  .dark-btn {
    font-size: 0.775rem !important;
    line-height: 0.775rem !important;
  }
  .primary-btn {
    font-size: 0.775rem !important;
    line-height: 0.775rem !important;
  }
  .success-btn {
    font-size: 0.775rem !important;
    line-height: 0.775rem !important;
  }
  .warning-btn {
    font-size: 0.775rem !important;
    line-height: 0.775rem !important;
  }
  .danger-btn {
    font-size: 0.775rem !important;
    line-height: 0.775rem !important;
  }
  .secondary-btn {
    font-size: 0.775rem !important;
    line-height: 0.775rem !important;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .325rem .5rem !important;
    font-size: 0.85rem !important;
    line-height: 0.85rem !important;
  }
  .form-select {
    font-size: 0.85rem !important;
    line-height: 1rem !important;
    background-size: 14px 10px;
    padding: 0.325rem 1.750rem 0.325rem 0.250rem !important;
    background-position: right 0.500rem center;
  }
  .input-group-text {
    padding: .325rem .5rem !important;
    font-size: 0.85rem !important;
    line-height: 0.85rem !important;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.23rem !important;
    --bs-btn-padding-x: 0.3rem !important;
    --bs-btn-font-size: 0.8rem !important;
  }
  .page-btn {
    font-size: 0.600rem !important;
    line-height: 0.600rem !important;
    width: 1.400rem !important;
    height: 1.400rem !important;
  }
  .del-btn {
    font-size: 1.000rem !important;
  }
  .dark-btn {
    font-size: 0.850rem !important;
    line-height: 0.850rem !important;
  }
  .primary-btn {
    font-size: 0.850rem !important;
    line-height: 0.850rem !important;
  }
  .success-btn {
    font-size: 0.850rem !important;
    line-height: 0.850rem !important;
  }
  .warning-btn {
    font-size: 0.850rem !important;
    line-height: 0.850rem !important;
  }
  .danger-btn {
    font-size: 0.850rem !important;
    line-height: 0.850rem !important;
  }
  .secondary-btn {
    font-size: 0.850rem !important;
    line-height: 0.850rem !important;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .350rem .5rem !important;
    font-size: 0.875rem !important;
    line-height: 0.875rem !important;
  }
  .form-select {
    font-size: 0.875rem !important;
    line-height: 1rem !important;
    background-size: 15px 11px;
    padding: 0.350rem 2.000rem 0.350rem 0.500rem !important;
    background-position: right 0.600rem center;
  }
  .input-group-text {
    padding: .350rem .500rem !important;
    font-size: 0.875rem !important;
    line-height: 0.875rem !important;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.24rem !important;
    --bs-btn-padding-x: 0.4rem !important;
    --bs-btn-font-size: 0.85rem !important;
  }
  .page-btn {
    font-size: 0.650rem !important;
    line-height: 0.650rem !important;
    width: 1.500rem !important;
    height: 1.500rem !important;
  }
  .del-btn {
    font-size: 1.100rem !important;
  }
  .dark-btn {
    font-size: 0.925rem !important;
    line-height: 0.925rem !important;
  }
  .primary-btn {
    font-size: 0.925rem !important;
    line-height: 0.925rem !important;
  }
  .success-btn {
    font-size: 0.925rem !important;
    line-height: 0.925rem !important;
  }
  .warning-btn {
    font-size: 0.925rem !important;
    line-height: 0.925rem !important;
  }
  .danger-btn {
    font-size: 0.925rem !important;
    line-height: 0.925rem !important;
  }
  .secondary-btn {
    font-size: 0.925rem !important;
    line-height: 0.925rem !important;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .form-control {
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
  }
  .form-select {
    font-size: 1rem !important;
    line-height: 1rem !important;
    background-size: 16px 12px;
    padding: 0.375rem 2.250rem 0.375rem 0.750rem !important;
    background-position: right 0.700rem center;
  }
  .input-group-text {
    padding: .375rem 0.750rem !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
  }
  .btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.25rem !important;
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-font-size: 0.875rem !important;
  }
  .page-btn {
    font-size: 0.700rem !important;
    line-height: 0.700rem !important;
    width: 1.600rem !important;
    height: 1.600rem !important;
  }
  .del-btn {
    font-size: 1.200rem !important;
  }
  .dark-btn {
    font-size: 1.000rem !important;
    line-height: 1.000rem !important;
  }
  .primary-btn {
    font-size: 1.000rem !important;
    line-height: 1.000rem !important;
  }
  .success-btn {
    font-size: 1.000rem !important;
    line-height: 1.000rem !important;
  }
  .warning-btn {
    font-size: 1.000rem !important;
    line-height: 1.000rem !important;
  }
  .danger-btn {
    font-size: 1.000rem !important;
    line-height: 1.000rem !important;
  }
  .secondary-btn {
    font-size: 1.000rem !important;
    line-height: 1.000rem !important;
  }
}