/** 0. Non Media **********************************************************************************/
.react-datepicker-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: -webkit-fill-available !important;
  max-width: 95px !important;
}
.react-datepicker__header {
  background-color: #0b2730;
  color: #ffffff;
}
.react-datepicker__navigation {
  top: 10px;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
.react-datepicker__day--selected {
  background-color : #0b2730;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
.react-datepicker__day--selected:hover {
  background-color : #0b2730;
  transition: background-color 0.3s, color 0.3s;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: -webkit-fill-available !important;
}

/** 0. Media **************************************************************************************/
.react-datepicker__input-container input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-weight: 700;
  width: -webkit-fill-available !important;
}
.react-datepicker__current-month {
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
.react-datepicker__month-container {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available !important;
  margin: 0 auto;
  padding: 0;
}
.react-datepicker__day {
  border-radius: 70%;
  transition: background-color 0.3s, color 0.3s;
}
.react-datepicker__day-name {
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .react-datepicker__input-container input {
    font-size: 0.7rem;
    max-width: 100px;
  }
  .react-datepicker__current-month {
    font-size: 1.1rem;
  }
  .react-datepicker__month-container {
    font-size: 0.7rem;
  }
  .react-datepicker__day {
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
  }
  .react-datepicker__day-name {
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .react-datepicker__input-container input {
    font-size: 0.8rem;
    max-width: 120px;
  }
  .react-datepicker__current-month {
    font-size: 1.2rem;
  }
  .react-datepicker__month-container {
    font-size: 0.8rem;
  }
  .react-datepicker__day {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .react-datepicker__day-name {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .react-datepicker__input-container input {
    font-size: 0.9rem;
    max-width: 140px;
  }
  .react-datepicker__current-month {
    font-size: 1.3rem;
  }
  .react-datepicker__month-container {
    font-size: 0.8rem;
  }
  .react-datepicker__day {
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
  }
  .react-datepicker__day-name {
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .react-datepicker__input-container input {
    font-size: 1.0rem;
    max-width: 160px;
  }
  .react-datepicker__current-month {
    font-size: 1.4rem;
  }
  .react-datepicker__month-container {
    font-size: 0.8rem;
  }
  .react-datepicker__day {
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.7rem;
  }
  .react-datepicker__day-name {
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.7rem;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .react-datepicker__input-container input {
    font-size: 1.1rem;
    max-width: 180px;
  }
  .react-datepicker__current-month {
    font-size: 1.5rem;
  }
  .react-datepicker__month-container {
    font-size: 0.8rem;
  }
  .react-datepicker__day {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
  }
  .react-datepicker__day-name {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
  }
}