
.dContainer {
  display: inline-block !important;
}

/* 입력 필드 스타일 */
.react-datepicker__input-container input {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 5px 0px 5px 0px !important;
  text-align: center !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  width: fit-content !important;
}

/* 헤더 부분 */
.react-datepicker__header {
  background-color: #007bff !important;
  color: white !important;
}

/* 현재 월 표시 */
.react-datepicker__current-month {
  font-size: 1.5em !important;
  color: white !important;
}

/* 이전, 다음 버튼 */
.react-datepicker__navigation {
  top: 10px !important;
  color: white !important;
}

/* 일반 날짜 스타일 */
.react-datepicker__day {
  border-radius: 70% !important;
}

/* 선택된 날짜 스타일 */
.react-datepicker__day--selected {
  background-color : #007bff !important;
  color: white !important;
}

/* 선택된 날짜 hover 스타일 */
.react-datepicker__day--selected:hover {
  background-color : #007bff !important;
}

