/** 0. Non Media **********************************************************************************/

.rdp-table {
  margin: 0;
  max-width: calc(var(--rdp-cell-size) * 7);
  border-collapse: collapse;
  border: 1px solid  var(--rdp-background-color);
}
.rdp-nav_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  padding: 0.25em;
  border-radius: 25px;
  border: 1px;
}
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #f0f0f0;
  color: #0b2730
}
.rdp-weeknumber, .rdp-day {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  width: calc(var(--rdp-cell-size) * 0.7);
  max-width: calc(var(--rdp-cell-size) * 0.7);
  height: calc(var(--rdp-cell-size) * 0.7);
  margin: 0;
  border: 2px solid transparent;
  border-radius: 100%;
}
.today {
  color: #ff0000;
}
.selected {
  background-color: #164a60;
  color: #ffffff;
}
.selected:not([disabled]) {
  background-color: #164a60;
  color: #ffffff;
}
.selected:hover {
  background-color: #164a60;
  color: #ffffff;
}
.selected:hover:not([disabled]) {
  background-color: #164a60;
  color: #ffffff;
}
.rdp-day:focus {
  background-color: #164a60;
  color: #ffffff;
}
.rdp-day:active {
  background-color: #164a60;
  color: #ffffff;
}
.disabled {
  color: #999;
}
.outside {
  color: #999;
}
.inside {
  color: #000;
}
.dayPicker-x-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

/** 0. Media **************************************************************************************/
.rdp {
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 3px solid var(--rdp-accent-color);
  --rdp-selected-color: #fff;
  margin: 1em;
}
.rdp-head_cell {
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  height: var(--rdp-cell-size);
  padding: 0;
  text-transform: uppercase;
  background-color: #164a60;
  color: #ffffff;
}
.today,
.rdp-caption_label {
  font-weight: bolder;
}
.rdp-cell {
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  text-align: center;
}
.dayPicker-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 15px;
}

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .rdp {
    --rdp-cell-size: 2.2rem;
    --rdp-caption-font-size: 12px;
  }
  .rdp-head_cell {
    font-size: 0.8rem;
  }
  .today,
  .rdp-caption_label {
    font-size: 1.4rem;
  }
  .rdp-cell {
    padding: 0px 0px 0px 5px;
    font-size: 0.7rem;
  }
  .dayPicker-container {
    width: 250px;
    height: 310px;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .rdp {
    --rdp-cell-size: 2.4rem;
    --rdp-caption-font-size: 14px;
  }
  .rdp-head_cell {
    font-size: 0.9rem;
  }
  .today,
  .rdp-caption_label {
    font-size: 1.5rem;
  }
  .rdp-cell {
    padding: 0px 0px 0px 9px;
    font-size: 0.75rem;
  }
  .dayPicker-container {
    width: 300px;
    height: 340px;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .rdp {
    --rdp-cell-size: 3.8rem;
    --rdp-caption-font-size: 12px;
  }
  .rdp-head_cell {
    font-size: 1.0rem;
  }
  .today,
  .rdp-caption_label {
    font-size: 1.6rem;
  }
  .rdp-cell {
    padding: 0px 0px 0px 10px;
    font-size: 0.8rem;
  }
  .dayPicker-container {
    width: 400px;
    height: 500px;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .rdp {
    --rdp-cell-size: 4.0rem;
    --rdp-caption-font-size: 13px;
  }
  .rdp-head_cell {
    font-size: 1.1rem;
  }
  .today,
  .rdp-caption_label {
    font-size: 1.7rem;
  }
  .rdp-cell {
    padding: 0px 0px 0px 11px;
    font-size: 0.85rem;
  }
  .dayPicker-container {
    width: 450px;
    height: 490px;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .rdp {
    --rdp-cell-size: 4.2rem;
    --rdp-caption-font-size: 14px;
  }
  .rdp-head_cell {
    font-size: 1.2rem;
  }
  .today,
  .rdp-caption_label {
    font-size: 1.8rem;
  }
  .rdp-cell {
    padding: 0px 0px 0px 12px;
    font-size: 0.9rem;
  }
  .dayPicker-container {
    width: 500px;
    height: 540px;
  }
}