[class$="MuiPaper-root"] {
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
[class$="MuiCard-root"] {
  border: 0.2px solid #dddddd !important;
}
[class$="MuiTableCell-root"] {
  padding: 14px 14px 14px 14px !important;
  z-index: 10 !important;
}
[class$="MuiTab-root"] {
  min-width: 0px !important;
}
[class$="MuiToolbar-root"] {
  padding: 0px 0px 0px 0px !important;
}
[class$="MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input"] {
  text-overflow: clip !important;
}

.MuiFormControlLabel-root {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.MuiTab-root.Mui-selected {
  color: #006ab3 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  scale: 1.2 !important;
}
.MuiBottomNavigationAction-root.Mui-selected {
  color: #006ab3 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  scale: 1.2 !important;
}

/** 일반 **/
[class$="MuiTypography-root-MuiLink-root"] {
  color: unset !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

/** 호버 **/
[class$="MuiTypography-root-MuiLink-root"]:hover {
  color: #006ab3 !important;
  scale: 1.1 !important;
}

/** 셀렉트, 엑티브 **/
[class$="MuiTypography-root-MuiLink-root"]:active {
  color: #006ab3 !important;
  scale: 1.1 !important;
}