/* [class$="MuiSvgIcon-root-MuiSelect-icon"] {
  right: 0px !important;
}
[class$="MuiTablePagination-root"] {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
[class$="MuiToolbar-root-MuiTablePagination-toolbar"] {
  min-width: min-content !important;
  min-height: min-content !important;
  padding: 0px 20px 0px 0px !important;
}
[class$="MuiGrid-root"] {
  width: 100% !important;
  margin: 0px 0px 0px 0px !important;
}
[class$="MuiDialog-paper"] {
  width: 85vw!important;
  min-width: auto!important;
  height: 65vh!important;
  min-height: auto!important;
}
[class$="MuiInputBase-root-MuiOutlinedInput-root"] {
  max-width: 220px !important;
  max-height: 30px !important;
}
[class$="MuiOutlinedInput-root-MuiSelect-root"] {
  max-width: 220px !important;
  max-height: 30px !important;
} */