/** 0. Non Media **********************************************************************************/

/** 0. Media **************************************************************************************/
/* .table-thead {
  width: 100%;
}
.table-tbody {
  width: 100%;
}
.table-tfoot {
  width: 100%;
} */

.table-thead-tr th, .table-thead-tr td {
  font-weight: bold !important;
  text-align: center !important;
  background-color: #164a60 !important;
  color: #ffffff !important;
  padding: 5px !important;
}
.table-tbody-tr th, .table-tbody-tr td {
  font-weight: normal !important;
  text-align: center !important;
  padding: 10px !important;
}
.table-tfoot-tr th, .table-tfoot-tr td {
  font-weight: bold !important;
  text-align: center !important;
  padding: 10px !important;
}

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .table-thead-tr th, .table-thead-tr td {
    font-size: 0.800rem !important;
  }
  .table-tbody-tr th, .table-tbody-tr td {
    font-size: 0.700rem !important;
  }
  .table-tfoot-tr th, .table-tfoot-tr td {
    font-size: 0.800rem !important;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .table-thead-tr th, .table-thead-tr td {
    font-size: 0.825rem !important;
  }
  .table-tbody-tr th, .table-tbody-tr td {
    font-size: 0.725rem !important;
  }
  .table-tfoot-tr th, .table-tfoot-tr td {
    font-size: 0.825rem !important;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .table-thead-tr th, .table-thead-tr td {
    font-size: 0.850rem !important;
  }
  .table-tbody-tr th, .table-tbody-tr td {
    font-size: 0.750rem !important;
  }
  .table-tfoot-tr th, .table-tfoot-tr td {
    font-size: 0.850rem !important;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .table-thead-tr th, .table-thead-tr td {
    font-size: 0.875rem !important;
  }
  .table-tbody-tr th, .table-tbody-tr td {
    font-size: 0.775rem !important;
  }
  .table-tfoot-tr th, .table-tfoot-tr td {
    font-size: 0.875rem !important;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .table-thead-tr th, .table-thead-tr td {
    font-size: 1.000rem !important;
  }
  .table-tbody-tr th, .table-tbody-tr td {
    font-size: 0.900rem !important;
  }
  .table-tfoot-tr th, .table-tfoot-tr td {
    font-size: 1.000rem !important;
  }
}