/** 0. Non Media **********************************************************************************/
.table-thead {
  border: 1px solid #dee2e6 !important;
}
.table-th {
  text-align: center !important;
  background-color: #164a60 !important;
  color: #ffffff !important;
  padding: 8px !important;
}
.table-tbody {
  text-align: center !important;
}
.table-td {
  text-align: center !important;
}

/** 0. Media **************************************************************************************/

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .table-th {
    font-size: 0.650rem !important;
  }
  .table-td {
    font-size: 0.600rem !important;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .table-th {
    font-size: 0.750rem !important;
  }
  .table-td {
    font-size: 0.700rem !important;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .table-th {
    font-size: 0.850rem !important;
  }
  .table-td {
    font-size: 0.800rem !important;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .table-th {
    font-size: 0.950rem !important;
  }
  .table-td {
    font-size: 0.900rem !important;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .table-th {
    font-size: 1.500rem !important;
  }
  .table-td {
    font-size: 1.000rem !important;
  }
}