.table-thead-tr th, .table-thead-tr td {
  font-weight: bold !important;
  text-align: center !important;
  background-color: #006ab3 !important;
  color: #ffffff !important;
  padding: 5px !important;
}
.table-tbody-tr th, .table-tbody-tr td {
  font-weight: normal !important;
  text-align: center !important;
  padding: 7.5px !important;
}
.table-tfoot-tr th, .table-tfoot-tr td {
  font-weight: bold !important;
  text-align: center !important;
  padding: 7.5px !important;
}