/** 0. Non Media **********************************************************************************/
.react-time-picker {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 80%;
}
.react-time-picker--disabled {
  background-color:  var(--bs-secondary-bg);
  opacity: 1;
}
.react-time-picker__wrapper--disabled {
  background: #f7f7f7;
  border-color: #ccc;
  color: #ccc;
}
.react-time-picker__inputGroup {
  flex-grow: 1 !important;
  padding: 0px 0px 0px 0px !important;
}
.react-time-picker__inputGroup__input::-webkit-outer-spin-button,
.react-time-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.react-time-picker__inputGroup__input:disabled {
  background: none;
}
.react-time-picker__inputGroup__input:read-only {
  background: none;
}
.react-time-picker__button:disabled {
  color: #ccc;
  cursor: default;
}
.react-time-picker__clear-button:disabled {
  color: #ccc;
  cursor: pointer;
}

/** 0. Media **************************************************************************************/
.react-time-picker__wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: left;
}
.react-time-picker__inputGroup__divider {
  color: #ccc;
  position: relative;
  top: -1px;
}
.react-time-picker__inputGroup__input {
  background: none;
  border: none;
  color : #007bff;
  font-size: 0.8rem;
  outline: none;
  padding: 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.react-time-picker__button {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  outline: none;
  padding: 0 6px;
}
.react-time-picker__clear-button {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  outline: none;
  padding: 0 6px;
  position: fixed;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.react-time-picker__inputGroup__leadingZero {
  background: none;
  border: none;
  color : #007bff;
  outline: none;
  padding: 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.react-time-picker__button__icon {
  fill: #555;
}

/** 1. Small (0 ~ 479px) **************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .react-time-picker__wrapper {
    font-size: 0.8rem;
  }
  .react-time-picker__inputGroup__divider {
    font-size: 0.8rem;
  }
  .react-time-picker__inputGroup__input {
    font-size: 0.8rem;
  }
  .react-time-picker__button {
    font-size: 0.8rem;
  }
  .react-time-picker__clear-button {
    font-size: 0.8rem;
  }
  .react-time-picker__inputGroup__leadingZero {
    font-size: 0.8rem;
  }
  .react-time-picker__button__icon {
    height: 0.6rem;
    width: 0.6rem;
  }
}

/** 2. Mobile (480px ~ 767px) *********************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .react-time-picker__wrapper {
    font-size: 0.9rem;
  }
  .react-time-picker__inputGroup__divider {
    font-size: 0.9rem;
  }
  .react-time-picker__inputGroup__input {
    font-size: 0.9rem;
  }
  .react-time-picker__button {
    font-size: 0.9rem;
  }
  .react-time-picker__clear-button {
    font-size: 0.9rem;
  }
  .react-time-picker__inputGroup__leadingZero {
    font-size: 0.9rem;
  }
  .react-time-picker__button__icon {
    height: 0.7rem;
    width: 0.7rem;
  }
}

/** 3. Pablet (768px ~ 991px) *********************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .react-time-picker__wrapper {
    font-size: 0.9rem;
  }
  .react-time-picker__inputGroup__divider {
    font-size: 1.0rem;
  }
  .react-time-picker__inputGroup__input {
    font-size: 1.0rem;
  }
  .react-time-picker__button {
    font-size: 1.0rem;
  }
  .react-time-picker__clear-button {
    font-size: 1.0rem;
  }
  .react-time-picker__inputGroup__leadingZero {
    font-size: 1.0rem;
  }
  .react-time-picker__button__icon {
    height: 0.8rem;
    width: 0.8rem;
  }
}

/** 4. Tablet (992px ~ 1199px) ********************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .react-time-picker__wrapper {
    font-size: 0.9rem;
  }
  .react-time-picker__inputGroup__divider {
    font-size: 1.1rem;
  }
  .react-time-picker__inputGroup__input {
    font-size: 1.1rem;
  }
  .react-time-picker__button {
    font-size: 1.1rem;
  }
  .react-time-picker__clear-button {
    font-size: 1.1rem;
  }
  .react-time-picker__inputGroup__leadingZero {
    font-size: 1.1rem;
  }
  .react-time-picker__button__icon {
    height: 0.9rem;
    width: 0.9rem;
  }
}

/** 5. Desktop (1200px ~ 10000px) *****************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .react-time-picker__wrapper {
    font-size: 0.9rem;
  }
  .react-time-picker__inputGroup__divider {
    font-size: 1.2rem;
  }
  .react-time-picker__inputGroup__input {
    font-size: 1.2rem;
  }
  .react-time-picker__button {
    font-size: 1.2rem;
  }
  .react-time-picker__clear-button {
    font-size: 1.2rem;
  }
  .react-time-picker__inputGroup__leadingZero {
    font-size: 1.2rem;
  }
  .react-time-picker__button__icon {
    height: 1rem;
    width: 1rem;
  }
}